*.class

# Package Files #
*.jar
*.war
*.ear
/DBoxInterface/nbproject/private/
/DBoxServer/nbproject/private/
/DBoxClient/nbproject/private/
/DBoxInterface/build/
/DBoxInterface/dist/
/DBoxServer/build/
/DBoxServer/dist/
/DBoxClient/build/
/DBoxClient/dist/
/DBoxBroker/nbproject/private/
/DBoxBroker/build/
/DBoxBroker/dist/
/DBoxServerUtils/nbproject/private/
/DBoxServerUtils/build/
/DBoxServerUtils/dist/
/~*
#Exceptions
!/DBoxServerUtils/lib/*.jar
